<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.easymarket.dao.UserTemplateDao" >

    <insert id="saveUserTemplate" parameterType="com.easymarket.entity.UserTemplateEntity">
        insert into em_user_template(userId, templateId, templateName, templateInfo, isPreview)
        values
        (#{userId}, #{templateId}, #{templateName}, #{templateInfo}, #{isPreview})
    </insert>

    <select id="selectTempInfo" resultType="com.easymarket.VO.TemplateInfoVO">
        select templateInfo from em_user_template where templateId = #{templateId}
    </select>
    
    <select id="selectTempList" resultType="com.easymarket.VO.TemplateInfoVO">
        select t3.templateId, t3.templateName, t3.viewCount, COUNT(t4.id) as registerCount from
        (select t1.userId, t1.templateId, t1.templateName, t1.isPreview, t2.comeSite, COUNT(t1.templateId) as viewCount from em_user_template t1
        LEFT JOIN
        em_visit_detail t2
        on t1.templateId = t2.templateId
		where t1.userId = #{userId}
		and t1.isPreview = #{isPreview}
        GROUP BY t1.templateId) t3
        LEFT JOIN
        em_template_detail t4
        on t3.templateId = t4.templateId
        GROUP BY t3.templateId
    </select>

    <update id="updateUserTemplate" parameterType="com.easymarket.entity.UserTemplateEntity">
        update em_user_template
        set templateInfo = #{templateInfo}
        where templateId = #{templateId}
    </update>

</mapper>